PORT=3000
SOCKET_PORT=4000
# URL of the Mongo DB
#test db
MONGODB_URL=

JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=8640
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
# SMTP configuration options for the email service
BREVO_KEY=
SENDER_EMAIL=
SENDER_NAME=
# Cookie configs
COOKIE_SECRET=
# URL of client application
SMS_HOST=
IPINFO_API_KEY="has to be provided"
# GCP_BUCKET_NAME=stigingbucket
GCP_BUCKET_NAME="has to be created"

BACKEND_URL=
# TEST_SERVER_TOKEN=a
SERVER_TYPE=STAGING

# GCP Json Parameters
WEB_CLIENT=http://localhost:3001
# Service Key Parameters
GCP_SECRET="This has to be the GCP secretkey.json file"
OPENAI_API_KEY="Has to be created"
FREE_GPT_MODAL=gpt-4o-mini
PAID_GPT_MODAL=chatgpt-4o-latest

EMAIL_VISIT_NOW_LINK=https://www.hitparkingmanager.com
